@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  background-color: blueviolet;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'neucha', cursive;
}

.header {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  margin: 30px 0;
  z-index: 1;
  text-align: center;
  text-transform: uppercase;
}